.center-container {    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9; /* Цвет фона */
}

.center-container div {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff; /* Цвет заднего фона блока */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень блока */
}

.center-container p {
    margin-bottom: 10px;
    font-size: 16px;
}

.center-container input {
    padding: 8px;
    margin-bottom: 10px;
    width: 90%;    
    border: 1px solid #ccc;
    border-radius: 3px;
}

.center-container button {
    padding: 10px 20px;
    background-color: #007bff; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.center-container button:hover {
    background-color: #0056b3; /* Изменение цвета фона при наведении */
}
